body {
	font-family: sans-serif;
	background-color: #f2f2f2;
}
header {
	background-color: #3f3f3f;
	margin-top: 90px;
	margin-bottom: 5rem;
	display: inline-block;
	width: 100%;
	height: 120px;
}
.header-container {
	float: left;
	display: inline-block;
	margin-left: 20%;
	margin-right: 20%;
}
.header-group {
	margin-top: 5px;
	width: 50%;
}
.header-box {
	float: right;
	width: 40%;
	position: relative;
	transform: scale(1.25);
	background-color: navy;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.header-h {
	float: left;/*display: inline-block;*/
	margin-left: 18px;
	margin-right: 18px;
}
.header-h h2 {
	
}
header:after {
	clear: both;
}
main {
	margin-left: 20%;
	margin-right: 20%;
	max-width: 980px;
}
h1 {
	font-size: 5.6rem;
	color: white;
	margin-top: 0.5em;
}
h2 {
	font-size: 2.3em;
	color: navy;
}
h3 {
	font-size: 2em;
	color: darkgray;
}
.condensed {
	/* font-stretch: extra-condensed; */
}
.right {
	float: right;	/*padding: 15%;*/
}
.darkgray h2 {
	color: darkgray;
	font-size: 2.2rem;
}
.resources {
	background-color: lightgray;
	height: 160px;
	margin-top: 65px;
}
.white {
	color: white;
	background-color: navy;
	width: 280px;
	padding: 10px 12px 12px 24px;
	margin-top: -190px;
	margin-left: 31%;
}
hr {
	width: 50%;
}
.services {
	/* margin-top: 80px;
	margin-bottom: 4rem; */
	clear: both;
}
.col-3 {
	float: left;
	display: inline-block;
	width: 23%;
	/* margin-bottom: 3em; */
	margin-right: 2%;
	padding-bottom: 15px;
	text-align: center;
	background-color: white;
	border: 2px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.col-3:last-child {
	margin-right: 0%;
}
.col-3 p.caption {
	color: royalblue;	/*width: 15%;*/
}
.col-3:hover {
	color: white;
	background-color: navy;
}
.col-3:hover h2 {
	color: white;
}
.col-3:hover p {
	color: darkgray;
}
.col-3:hover p.caption {
	color: white;
}
.col-3:hover a {
	color: white;
}
.col-6 {
	display: inline-block;
	color: gray;
	text-align: center;
	margin: 40px 12px 25px 12px;
	padding: 20px 20px 20px 20px;
}
.col-6:hover {
	color: white;
	background-color: navy;
}
* {
	box-sizing: border-box;
}